{{#if subjects}}
<div class="col-md-6 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Add Unit Subject</h3>
        </div>
        <div class="card-body">
            <form action="/unitSubject/updateUnitSubjectDB/{{unitSubject._id}}?method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
                <label class="lead">Unit</label>
                <div class="form-group">
                    <input type="number" name="noUnit" class="form-control" value="{{unitSubject.unit}}" placeholder="Unit" pattern="[1-6]{1}" title="Only numbres" autofocus>
                </div>
                <label class="lead">Unit's name</label>
                <div class="form-group">
                    <input type="text" name="nameUnit" class="form-control" value="{{unitSubject.nameUnit}}" placeholder="Unit's name" autofocus pattern="[A-Za-z\s]">
                </div>
                <label class="lead">Hours for unit</label>
                <div class="form-group">
                    <input type="number" name="hoursUnit" class="form-control" value="{{unitSubject.hoursUnit}}" max="6" min="1" placeholder="Grade" pattern="Only numbers">
                </div>
                <label class="lead">Hours for week</label>
                <div class="form-group">
                    <input type="number" name="hoursWeek" class="form-control" value="{{unitSubject.hoursWeek}}" max="6" min="1" placeholder="Grade" pattern="Only numbers">
                </div>
                <label class="lead">Subject</label>
                <div class="form-group">
                    <select name="subjectID" class="form-control">
                        {{#each subjects}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{else}}
<div class="row">
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Excuse me!</h1>
            <p class="lead">There are no subjects registered yet</p>
            <a href="/subjects/add" class="btn btn-success btn-block">Add one</a>
        </div>
    </div>
</div>
{{/if}}